body {
  font-family: 'Roboto', sans-serif;
  background-color: #a8d8cd;
  margin: 0;
  padding: 0;
  
}

.container {
  max-width: 800px;
  margin:  auto; /* 20px vertical, auto horizontal para centralizar */
  padding-left: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 5px solid #a8d8cd;
  box-sizing: border-box;
  min-height: 90vh;   /* garantir que ocupe quase toda a altura da tela */
  
}

.cabecalho {
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 80px;
  font-weight: bold;
  display: flex;
  
}

.NomeTitulo {
  font-size: 2.5rem;
  margin-bottom: 2px;
  color: #03616f;
}

.SubTitulo{
  font-size: 21px;
  margin-top: 10px;
} 

.RafaelImg{
  width: 200px;
  height: 200px; /* mesmo valor da largura */
  border-radius: 50%; /* deixa a imagem circular */
  object-fit: cover; 
  position: absolute;
  margin-left: 400px;
  top: 120px;
}


.Contato{
  width: 100%;         /* ocupa toda a largura */
  height: 120px;        /* altura da "linha" */
  background-color:#faf2e2;
  margin-bottom: 15px;
}

.DivContato{
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(3); /* 3 colunas iguais */
  width: 100%;
  list-style-type: none; 
  margin-left: 80px;
  color: #03616f;
  text-align: left;
  font-weight: bold;
}

.Local {
  margin-top: 15px;
}

.DivSobreMim{
  margin-bottom: 2rem;
  margin-left: 30px;
  font-weight: bold;
}

.SobreMim{
  text-align: left;
  padding-left: 12%;
  color: #03616f;
}

.InformacaoSobreMim{
  max-width: 50%;
  color: #03616f;
}

.SectionFerramentas{
  width: 54%;
  background-color:#faf2e2;
  height: 300px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 1px;
}

.H2Ferramentas{
  color: #03616f;
  font-weight: bolder;
  align-items: center;
  padding-left: 50px;
}


.DivFerramentas {
  color: #03616f;
  margin-left: 30px;  
}

.H2SiteAgendamento{
  position: absolute;
  top: 183px;
  left: 40px;
  color: #03616f;
  font-size: 20px;
}

.H2Portifolio{
  position: absolute;
  top: 183px;
  left: 40px;
  color: #03616f;
  font-size: 20px;
}

.H2EmAndamento{
  position: absolute;
  top: 183px;
  left: 40px;
  color: #03616f;
  font-size: 20px;
}


.H2Projetos{
  position: absolute;
  top: 365px;
  left: 580px;
  color: #03616f;
}

.ListaProjetos{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 500px;
  top:330px;
  border-radius: 30px;
  width: 300px;
  padding-bottom: 300px;
  
}

.SiteIA{
   margin-top: 40px;      /* ocupa toda a largura */
  height: 100px;        /* altura da "linha" */
  background-color:#faf2e2;
  border-radius: 30px;
  padding-top: 40px;
  color: #03616f;
  font-size: 9px;
  padding-left: 40px;
  
}

.PortifolioSite{
   margin-top: 40px;      /* ocupa toda a largura */
  height: 100px;        /* altura da "linha" */
  background-color:#faf2e2;
  border-radius: 30px;
  padding-top: 40px;
  color: #03616f;
  font-size: 9px;
  padding-left: 40px;
}

.EmBranco{
  margin-top: 40px;      /* ocupa toda a largura */
  height: 100px;        /* altura da "linha" */
  background-color:#faf2e2;
  border-radius: 30px;
  padding-top: 40px;
  color: #03616f;
  font-size: 9px;
  padding-left: 40px;
}

.SectionDisponibilidade{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.H2Disponibilidade{
  color: #03616f;
  padding-left: 150px;
}

.PDisponibilidade{
  font-size: 13px;
  width: 50%;
  padding-left: 50px;
  margin-bottom: 20px;
  color: #03616f;
  grid-column: 1/-1;
  

}

.SectionCursos{
  color: #03616f;
  position: absolute;
  left: 450px;
  top: 940px;
}

.H2Cursos{
  grid-column: 1/1;
  padding-left: 80px;
}

.UlCursos{
  font-size: 13px;
  padding-bottom: 30px;
}




.SectionFrase{
  display: flex;
  flex-direction: column;
  left: 500px;
  border-radius: 40px;
}




.SectionFrase{
  align-items: center;
  width: 100%;         /* ocupa toda a largura */
  height: 120px;        /* altura da "linha" */
  background-color:#faf2e2;
  margin-bottom: 15px;
  color: #03616f;
  text-align: center;
  
  
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}
